@import './constants';
html {
  overflow-y: initial;
}

.input,
.textarea {
  border-radius: 0;
}

body {
  font-family: 'Nova Mono', monospace;
  margin: 0;
}

.notyf {
  bottom: 0;
  right: 0;
  width: 100%;
  .notyf__toast {
    color: $dark-text;
    &.notyf--confirm {
      background-color: $primary;
    }
    &.notyf--alert {
      background-color: $warning;
    }
  }
}

main {
  text-align: center;
}

a {
  color: $dark-primary;
  &:hover {
    color: $dark-primary;
  }
}

.button {
  &.is-primary {
    background-color: $primary;
    color: $dark-text;
    &:hover {
      background-color: $dark-primary;
    }
  }
}

@media screen and (min-width: 1068px) {
  .container {
    &.is-fluid {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

@keyframes a {
  0% {
    bottom: -15px;
    margin-top: 0;
    max-height: 0;
    max-width: 0;
    opacity: 0;
  }

  30% {
    bottom: -3px;
    opacity: .8;
  }

  100% {
    bottom: 0;
    margin-top: 12px;
    max-height: 200px;
    opacity: 1;
  }
}
