@import './constants';

html {
  overflow-y: initial;
}

.input,
.textarea {
  border-radius: 0;
}

body {
  margin: 0;
  font-family: 'Nova Mono', monospace;
}

main {
  text-align: center;
}

a {
  color: $dark-primary;

  &:hover {
    color: $dark-primary;
  }
}

.button {
  &.is-primary {
    background-color: $primary;
    color: $dark-text;

    &:hover {
      background-color: $dark-primary;
    }
  }
}

@media screen and (min-width: 1068px) {
  .container {
    &.is-fluid {
      margin-left: 0;
      margin-right: 0;
    }
  }
}